<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIGN UP!</h1>
    <form action="/formhandler" method="get">
        <label for ="UserName"> Please Enter Your Name:</label>
        <input type ="text" name ="UserName" id ="UserName" required>
        <label for ="UserEmail"> Please Enter Your Email:</label>
        <input type ="text" name ="UserEmail" id ="UserEmail">
        <input type ="submit" value ="SIGN UP">
    </form>
</body>
</html>